In [78]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

df = pd.read_csv("EEG_data.csv")
demo = pd.read_csv("demographic_info.csv")

https://www.section.io/engineering-education/how-to-build-a-glass-box-model-using-interpretml-python/

In [79]:
demo

   subject ID   age    ethnicity  gender
0           0    25  Han Chinese       M
1           1    24  Han Chinese       M
2           2    31      English       M
3           3    28  Han Chinese       F
4           4    24      Bengali       M
5           5    24  Han Chinese       M
6           6    24  Han Chinese       M
7           7    25  Han Chinese       M
8           8    25  Han Chinese       M
9           9    24  Han Chinese       F

In [80]:
df = df.merge(demo, left_on= "SubjectID", right_on= "subject ID")
df.drop(columns=["subject ID"], inplace=True)

In [81]:
df[(df["VideoID"]==1.0) & (df["SubjectID"]==2.0)]

,SubjectID,VideoID,Attention,Mediation,Raw,Delta,Theta,Alpha1,Alpha2,Beta1,Beta2,Gamma1,Gamma2,predefinedlabel,user-definedlabeln,age,ethnicity,gender
2702,2.0,1.0,56.0,75.0,25.0,12621.0,7349.0,5681.0,2510.0,3400.0,5506.0,1383.0,3846.0,0.0,1.0,31,English,M
2703,2.0,1.0,54.0,74.0,75.0,16602.0,18387.0,12975.0,6035.0,4599.0,4952.0,2708.0,1301.0,0.0,1.0,31,English,M
2704,2.0,1.0,54.0,61.0,89.0,8845.0,19186.0,5893.0,6425.0,18801.0,5321.0,3307.0,2184.0,0.0,1.0,31,English,M
2705,2.0,1.0,50.0,56.0,36.0,3159.0,10727.0,10615.0,3412.0,6760.0,3009.0,2738.0,2024.0,0.0,1.0,31,English,M
2706,2.0,1.0,48.0,63.0,34.0,3899.0,15266.0,23868.0,6137.0,7475.0,13871.0,3061.0,4230.0,0.0,1.0,31,English,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2839,2.0,1.0,75.0,54.0,50.0,15079.0,8269.0,4596.0,12440.0,8900.0,5913.0,3337.0,2491.0,0.0,1.0,31,English,M
2840,2.0,1.0,70.0,60.0,40.0,6005.0,16913.0,3435.0,19429.0,5513.0,8183.0,3215.0,1870.0,0.0,1.0,31,English,M
2841,2.0,1.0,56.0,77.0,70.0,8434.0,11923.0,12467.0,12541.0,3883.0,6623.0,3138.0,4414.0,0.0,1.0,31,English,M
2842,2.0,1.0,61.0,75.0,52.0,13695.0,12479.0,8095.0,4642.0,6868.0,9398.0,2097.0,2037.0,0.0,1.0,31,English,M
2843,2.0,1.0,63.0,80.0,39.0,9478.0,9009.0,7206.0,21390.0,2377.0,12116.0,2635.0,2450.0,0.0,1.0,31,English,M

In [82]:
df["Attention"]=df["Attention"].replace(0, df["Attention"].mean())
df["Mediation"]=df["Mediation"].replace(0, df["Mediation"].mean())

In [84]:
X = df.copy()
y = X.pop("user-definedlabeln")

In [86]:
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.33, random_state=42)

### Modelling